<!DOCTYPE html>
<html>
<head>
    <title>Review Analyser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Review Analyser</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form id="reviewForm">  
                            <div class="form-group">
                                <label for="review">Enter your review:</label>
                                <textarea id="review" class="form-control autosize" rows="4"></textarea>
                            </div>
                            <button type="button" class="btn btn-danger" id="clearButton">Clear</button>
                            <button type="button" class="btn btn-primary" id="predictButton">Predict</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center mt-2" id="result">
                            <h2><strong>Review Detection:</strong></h2>
                            <span class="prediction-text" id="predictionResult"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
    <script>
        autosize(document.getElementById('review'));
        
        document.getElementById('clearButton').addEventListener('click', function() {
            document.getElementById('review').value = '';
            autosize.update(document.getElementById('review'));
            document.getElementById('predictionResult').textContent = '';
        });
    
        document.getElementById('predictButton').addEventListener('click', function() {
            const review = document.getElementById('review').value;
            
            $.ajax({
                type: 'POST',
                url: '/predict',
                data: { review: review },
                success: function(result) {
                    document.getElementById('predictionResult').textContent = result;
                }
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
