.major-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100% !important
}
#results_page {
    background-color: var(--color-navyblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.left, .center, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#analyze2-btn {
    border-width: 2px;
    font-weight: 500;
    font-size: 17px;
    background-color: var(--color-periwinkle);
    color:#0E1D34;
    border-color: transparent;
}
#analyze2-btn:hover,
#analyze2-btn:active {
    border-width: 2px;
    background-color:#1E63B2;
    color:white;
    border-color: transparent;
}

h3 {
    color: #1E63B2;
    font-weight: bold;
    text-shadow: 1px 1px 1px #1E63B2;
}
