code/__pycache__/
machine_learning/models/
machine_learning/datasets/
code/commit_log.txt
machine_learning/.ipynb_checkpoints/
RevU_App/machine_learning/models/SVM_classifier.joblib
RevU_App/machine_learning/models/tfidf_vectorizer.joblib
