<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        :root {
	    --color-navyblue: #0E1D34;
	    --color-highlight: #1E63B2;
	    --color-black: #000208;
	    --color-periwinkle: #A3C6EE;
	    --color-fadedwhite: hsla(0, 0%, 100%, 0.20);
        --font-base: 'Inter';
        }
        #analyzer {
            margin-top: 125px !important;
        }
        #clearButton {
            background-color: white;
            border-width: 2px;
            border-color: var(--color-navyblue);
            color: var(--color-navyblue);
        }
        #predictButton {
            background-color: var(--color-navyblue);
            border-width: 2px;
            border-color: var(--color-navyblue);
            color: white;
        }
        #predictButton:hover {
            background-color: var(--color-highlight);
            border-color: var(--color-highlight);
        }
        #clearButton:hover {
            background-color: var(--color-highlight);
            border-color: var(--color-navyblue);
            color: var(--color-navyblue);
        }
        #Sentivm{
            width: 50%;
            padding: 10px;
        }
        #cdlevel {
            font-size: 24px !important;
        }
        /* footer stay bottom always 
        footer-component {
        position: fixed;
        bottom: 0;
        width: 100%; 
        }
        */
        @media (max-width: 700px) {
            #Sentivm{
            width: 80%;
            padding: 10px;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap & CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicons//site.webmanifest">
    <!-- Footer Script -->
    <script src="../static/js/footer.js" type="text/javascript" defer></script>
    <!-- Other Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>RevU's | Individual Analyzer</title>
</head>
<body>
    <!-- Navbar -->
    <nav style="background-color: #0E1D34;" class="pl-5 pr-5 navbar navbar-expand-lg align-items-center navbar-dark fixed-top">
        <a class="navbar-brand" href="index.html">RevU’s</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link" href="index.html#home">Home</a>
                <a class="nav-link" href="index.html#features">Features</a>
                <a class="nav-link" href="index.html#context">Context</a>
                <a class="nav-link" href="index.html#team">The Team</a>
                <li class="nav-item dropdown">
                    <a id="caret" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analyzer
                    </a>
                    <div class="dropdown-menu dropdown-menu-right fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item active" href="individual_review.html">Individual Review</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="consolidated_reviews.html">Consolidated Reviews</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Analyzer -->
    <div id="analyzer" class="m-5 pl-3 pr-3">
            <h2 class="text-center">Individual Product Review Classifier</h2>
                <div class="row m-3">
                    <div class="col-md-6">
                        <form id="reviewForm">  
                            <div class="form-group">
                                <label for="review">Enter your review:</label>
                                <textarea id="review" class="form-control autosize" style="border-width: 2px; border-color: var(--color-navyblue); text-align: left;" rows="3" cols="5" maxlength="500"></textarea>
                                <span id="review-count" style="  display: block; text-align: right;">0/500 character limit</span>
                                <button type="button" class="btn btn-danger" id="clearButton" disabled>Clear</button>
                                <button type="button" class="btn btn-primary" id="predictButton" disabled>Predict</button>    
                        </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center flex-column mt-2" id="result">
                            <img id="Sentivm" src="../static/images/Sentivm-Off.png" alt="predictive analytics">
                            <div class="text-center mt-2" id="result">
                                <h2 class="prediction-text" id="predictionResult"></h2>
                                <h4 id="cdlevel" style="display: none;"> Confidence Level: </h4>
                                <div class="d-flex justify-content-center">
                                    <p class="pred-left text-center mr-5">
                                        <span id="lpred-label"></span><br>
                                        <span id="lpred-value"></span>
                                    </p>
                                    <h1 id="prediction-score" class="mt-2 ml-5 mr-5"></h1>
                                    <p class="pred-right text-center ml-5">
                                        <span id="rpred-label"></span><br>
                                        <span id="rpred-value"></span>
                                    </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
    <script>

        const reviewTextArea = document.getElementById('review');
        const clearButton = document.getElementById('clearButton');
        const predictButton = document.getElementById('predictButton');

        // Add an input event listener to the text area
        reviewTextArea.addEventListener('input', function () {
            if (reviewTextArea.value.trim() !== '') {
                clearButton.disabled = false;
                predictButton.disabled = false;
            } else {
                clearButton.disabled = true; 
                predictButton.disabled = true; 
            }
        });

        // Confidince level text gl variable for hiding(off & clear) and showing(predict)
        var cdlevelElement = document.getElementById('cdlevel');
        // Character Limit JS
        var textArea = document.getElementById("review");
        var characterCount = document.getElementById("review-count");
        textArea.addEventListener("input", function() {
            characterCount.textContent = textArea.value.length + "/" + textArea.maxLength + " character limit";
        });
        // Autosizing JS
        autosize(document.getElementById('review'));

        // Clear Button JS
        document.getElementById('clearButton').addEventListener('click', function() {
            document.body.classList.add('color-change');
            document.documentElement.style.backgroundColor = '#A3C6EE';
            document.getElementById('Sentivm').src = '../static/images/Sentivm-On.png'; // once you type and then clear will show on 
            document.getElementById('review').value = '';
            cdlevelElement.style.display = 'none'; // hide confidence level text
            autosize.update(document.getElementById('review'));
            document.getElementById('predictionResult').textContent = '';
            document.getElementById('prediction-score').textContent = '';
            document.getElementById('lpred-label').textContent = '';
            document.getElementById('lpred-value').textContent = '';
            document.getElementById('rpred-label').textContent = '';
            document.getElementById('rpred-value').textContent = '';
            document.getElementById('review-count').textContent = '0/500 character limit';
            clearButton.disabled = true; 
            predictButton.disabled = true; 
        });

        // Predict Button JS
        document.getElementById('predictButton').addEventListener('click', function() {
        const review = document.getElementById('review').value;
        $.ajax({
            type: 'POST',
            url: '/predict',
            data: { review: review },
            success: function(result) {
                const [sentiment, negativeConfidence, neutralConfidence, positiveConfidence] = result.split(',');
                
                // Set sentiment data and confidence levels in an array of objects
                const sentiments = [
                    { label: 'Positive', confidence: positiveConfidence },
                    { label: 'Neutral', confidence: neutralConfidence },
                    { label: 'Negative', confidence: negativeConfidence }
                ];

                // Sort the array by confidence level in descending order
                sentiments.sort((a, b) => b.confidence - a.confidence);

                // Set the major sentiment and confidence values
                const majorSentiment = sentiments[0];
                const secondSentiment = sentiments[1];
                const lowestSentiment = sentiments[2];

                // Update the UI based on the major sentiment
                document.body.classList.add('color-change');
                document.documentElement.style.backgroundColor = '#A3C6EE';
                document.getElementById('predictionResult').textContent = sentiment.toUpperCase();
                document.getElementById('cdlevel').style.display = 'block';

                // Update the UI elements with major, second, and lowest sentiments
                document.getElementById('Sentivm').src = `../static/images/Sentivm-${majorSentiment.label}.png`;
                document.getElementById('prediction-score').textContent = majorSentiment.confidence + '%';
                document.getElementById('lpred-label').textContent = lowestSentiment.label;
                document.getElementById('lpred-value').textContent = lowestSentiment.confidence + "%";
                document.getElementById('rpred-label').textContent = secondSentiment.label;
                document.getElementById('rpred-value').textContent = secondSentiment.confidence + "%";
            }
        });
    });

    </script>
<footer-component></footer-component>
</body>
</html>
