<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&display=swap" rel="stylesheet">

    <title>Landing_page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../templates/landing_page.html">RevU’s</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.google.com/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.google.com/">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="caret" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analyzer
                    </a>
                    <div class="dropdown-menu dropdown-menu-right fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.google.com/">Individual Analyzer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.google.com/">Consolidated Analyzer</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row align-items-center mt-5 ml-5 mr-5">
        <div class="col-md-6 mt-5">
            <h1 class="title">
                <span class="title-color1">Transform your</span> <br> 
                <span class="title-color2">Customer Feedback</span> <br> 
                <span class="title-color3">into </span>
                <span class="title-color4">Actionable Insights </span>
            </h1>
            <p class="info">With our Review Analyzer, understand your customers better <br> by extracting key concerns and examining overall product<br>satisfaction.</p>
            <body>
                <div class="container">
                    <div class="row justify-content-start mt-5">
                        <div class="col-md-3 col-5 ">
                            <a id="test-btn" class="btn btn-primary btn-lg btn-block" href="https://www.google.com/">Test It Out</a>
                        </div>
                        <div class="col-md-1 col-1"></div>
                        <div class="col-md-3 col-5">
                            <a id="start-btn" class="btn btn-primary btn-lg btn-block" href="https://www.google.com/">Get Started</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6 how-img">
            <img src="../images/Landing.png" class="img-fluid"/>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
