<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap & CSS-->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../images/favicons//site.webmanifest">

    <title>Home | RevU's</title>
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg align-items-center navbar-dark fixed-top">
        <a class="navbar-brand" href="landing_page.html">RevU’s</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                    <a class="nav-link" href="#home">Home</a>
                    <a class="nav-link" href="#about">About</a>
                <li class="nav-item dropdown">
                    <a id="caret" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analyzer
                    </a>
                    <div class="dropdown-menu dropdown-menu-right fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Individual Review</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Consolidated Reviews</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


<!-- Actual Body -->
<div id="content-wrapper">
    <!-- Home -->
    <section id="home" class="row align-items-center">
        <div class="col-md-6 mt-5">
            <h1 class="title header1 text-lg text-sm">
                Transform your
                <span class="highlight">Customer Feedback</span>
                into
                <span class="highlight">Actionable Insights</span>
            </h1>
            <p class="info">With our Review Analyzer, understand your customers better by extracting key concerns and examining overall product satisfaction.</p>
                <div class="container">
                    <div class="row justify-content-start mt-5">
                        <div class="col-md-3 col-5 ">
                            <a id="test-btn" class="btn btn-primary btn-lg btn-block" href="https://www.google.com/">Test It Out</a>
                        </div>
                        <div class="col-md-1 col-1"></div>
                        <div class="col-md-3 col-5">
                            <a id="start-btn" class="btn btn-primary btn-lg btn-block" href="https://www.google.com/">Get Started</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6 how-img">
            <img src="../images/Landing.png" class="img-fluid"/>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="row align-items-center">
            <img src="../images/Automate_Analyzer.png" class="img-fluid"/>
        <h2> Product Review into Sentiment Categories</h2>
        <p>Our system uses Machine learning model to identify if a  product review fall under positive, negative, or neutral by analyzing the text.</p>
    </section>
</div>



<script>
    $(document).ready(function () {
        $('body').scrollspy({ target: '#navbarNav' });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
